.list {
  background-color: rgb(15, 215, 215);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid rgb(3, 123, 175);
  color: rgb(3, 123, 175);
}

.item {
  background-color: #fff;
  border: 2px solid rgb(3, 123, 175);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.contact {
  margin-right: 30px;
  color: rgb(3, 123, 175);
}
